{% block content %}
<html>
    <head>
        <style>
            body {background-color: powderblue; margin: 0px; padding:0px; text-align: center;}
            div { margin-top: 15px; padding: 20px;}
        </style>
    </head>
    <body>
        <form method="POST" action="">
            <p>
                Enter Your Url - Origin or Shorten - <br>
            </p>
            <p >
                <input type="text" name="search">
            </p>
            <p>
                <input type="submit" name="submit">
            </p>
        </form>
    </body>
</html>
{% endblock%}


